.graticule {
  fill: none;
  stroke: #777;
  stroke-opacity: .5;
  stroke-width: .5px;
}

.gadm36_PHL_1 {
  fill: #999;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

svg .path {
  fill: none;
  stroke-opacity: .8;
  stroke-dasharray: 3,2;
  stroke: #f44;
}

.d3-tip {
line-height: 1.5;
font-weight: 400;
font-family:"avenir next", Arial, sans-serif;
padding: 6px;
background: rgba(0, 0, 0, 0.6);
color: #FFCB15;
border-radius: 1px;
pointer-events: none;
}

.details{
color:white;
}
.legendLinear text {
    font-size: 12px;
}

svg {
  margin-left: 3em;
  top: 0em;
}

.wrapper {
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-gap: 1em;
  padding: 1em;
}

#control{
  margin-top:20em;
  margin-right:10em;
}
#control2{
  margin-top:10em;
  margin-right:10em;
  margin-left:10em;
  margin-bottom:10em;
}

#map{
  margin-left:10em;
  margin-top:1em;
}
